.nav {
  display: flex;
  flex-direction: column;
  grid-area: n;
  background-color: palegoldenrod;
}

.link {
  color: black;
  margin: 0 10px;
  cursor: pointer;
  padding: 10px;
}

.link:hover {
  color: indigo;
  background-color: rgba(250, 235, 215, 0.956);
  border-radius: 8px;
}

.link:last-child {
  margin: 35px 10px;
}