.navbarFriends a {
  color: black;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  display: block;
}

.avatars {
  display: flex;
  justify-content: space-between;
}

.avatars {
  margin-top: 10px;
}

.avatar {
  padding: 10px;
}

.avatar img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.link:hover {
  color: indigo;
  background-color: #bfb6a957;
  border-radius: 8px;
}

.active {
  background-color: #bbad9b;
  border-radius: 8px;
}
