.post {
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.post:first-child {
  margin-bottom: 0;
}

.avatar img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.like {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}